body{
	font-family:sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}
.top{
	font-family: monospace;
	font-size: 1.7rem;
}

.middle{
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	min-height: 250px;
	min-width: 500px;
	margin:50px;
	box-shadow: 2px 2px 5px 5px grey;
	font-size:20px;

}
.bottom{
	height: 100px;
}

button{

	font-size: 1.5rem; 
	padding: 10px 30px;
	border-radius: 10px;
	background-color: rgb(280,70,70);
	color:white;
	outline: none;
	transition: 0.3s;
	border:red;
}
#first{
	display: flex;
	justify-content: center;
	align-items: center;
	
}

button:hover{
	font-size: 1.5rem;
	padding: 10px 30px;
	border-radius: 10px;
	background-color: white;
	color:rgb(280,70,70);
	outline: none;
	border:1px solid red;
}

button:active{
	font-size: 1.6rem;
	padding: 10px 30px;
	border-radius: 10px;
	background-color: white;
	color:rgb(280,70,70);
	outline: none;
	border:1px solid black;
}